# Virtual environment
venv/

# Secret keys
.env

# Raw data (too large/sensitive for GitHub)
data/raw/*
!data/raw/jobs_combined.csv

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/